/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 21, 2014, 4:07:22 PM
    Author     : Allen
*/

body {
    background-color: #f7c398;
}

.main {
    background: #E7DFD9;
}