/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 21, 2014, 4:07:22 PM
    Author     : Allen
*/

body {
    background-color: #f7c398;
    box-sizing: border-box;
}

/*==== Generic elements ====*/


/**
*/ c {
    display: block;
    font-size: 160%;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
} c.left {
    text-align: left;
} c.center {
    text-align: center;
} c.right {
    text-align: right;
} /* Variation of sizes
*/ c.mid {
    font-size: 110%;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Main body content wrapper
*/ .main {
    box-sizing: border-box;
    padding: 25px 0px;
}
/* Placeholder for main with background
*/ .main-placeholder {
    background: #e7dfd9;
    box-sizing: border-box;
    padding: 30px 3%;
}
/* Container for main, no background
*/ .main-container {
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
}


/*==== Bootstrap overrides ====*/
a {
    color: #169101;
} a:hover {
    color: #169101;
}

.btn-primary {
    background: #169101;
    border-color: #169101;
}
.btn-primary:hover {
    background: #169f00;
    border-color: #169101;
}