/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 21, 2014, 4:29:32 PM
    Author     : Allen
*/

.header {
    background-color: #13007D;
    color: #FFF;
    box-sizing: border-box;
}

.flash-prompt {
    border: 2px solid #F0AD4E;
    border-top: 0;
}
.flash-error {
    border: 2px solid rgba(255,0,0,0.7);
    border-top: 0;
}
.flash-icon {
    width: 30px;
    margin-bottom: 5px;
}
.flash-title {
    font-size: 120%;
    font-weight: bold;
}